.footer {
    background: $primary;
    color: white;
    padding: 50px 20px;
    margin-top: 60px;
    text-align: center;

    .footer-content {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}