//couleurs principales
$primary: #1B263B;
$secondary: #C5A028;
$bg-main: #F4F1EA;
//surfaces & fonds
$bg-card: #FAF9F6;
$bg_light: #F8F9F1;
$white: #FFFFFF;
//couleurs de texte
$text-main: #2C3333;
$text-muted: #5F6767;

//les effets pour plus de vie
// $shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
$shadow: 0 10px 30px rgba(27, 38, 59, 0.05);
$radius: 12px;