@import 'variables';
@import 'annonces';
@import 'header';
@import 'footer';
@import 'home';
@import 'messes';
@import 'contact';
@import 'paroisse';
@import 'activites';
@import 'groupes';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: $bg-main;
    color: $text-main;
    line-height: 1.6;
    font-weight: 450;
    h1, h2, h3 {
        font-family: 'Playfair Display', sherif;
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .content {
        flex: 1;
    }
}

